@import "colors.scss";
@import "fonts.scss";

html {
    height: 100%;
}

body {
  display: block;
  height: auto;
}

* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app {
  color: $green;
  width: 100%;
  height: auto;
  font-family: 'Futura', Helvetica, sans-serif;
  text-align: center;
  position: relative;

  a {
    color: $green;
    text-decoration: underline;
  }
}
