@import "colors.scss";
@import "fonts.scss";

@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html, body {
  margin: 0 auto;
}

html {
    height: 100%;
    font-family: 'PT Mono';
}

body {
  display: block;
  height: auto;
}

* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app {
  color: $green;
  width: 100%;
  height: auto;
  font-family: 'PT Mono';
  text-align: center;
  position: relative;

  a {
    color: $green;
    text-decoration: underline;
  }

  &.negatif {
    background: $green;
    color: $white;
  }
}
